<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="#">BUS BOOKING SYSTEM</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/searchbus">Book BUS<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cancelticket">Cancel Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/checkavailablity">Check Availibility</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/givefeedback">GIVE FEEDBACK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/getticket">GET TICKET</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/loginuser">LOGIN USER</a>
                    <a class="dropdown-item" routerLink="/loginadmin">LOGIN ADMIN</a>
                </div>
            </li> -->
        </ul>
      
    </div>
</nav>