<div class="container-fluid pt-8 mb-3 col-md-7 offset-md-30 card card-body mt-4" style="background-color:lightblue">
    <h3 class="text-center text-info"><u>Select Seats</u></h3>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <span>
      <li>
      <input type="checkbox" id="40" (click)="Seat('40')">
        <label for="40" style="background-color:lightgrey">40<img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="35" (click)="Seat('35')">
        <label for="35" style="background-color:lightgrey">35<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="31" (click)="Seat('31')">
        <label for="31" style="background-color:lightgrey">31<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="27" (click)="Seat('27')">
        <label for="27" style="background-color:lightgrey">27<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="23" (click)="Seat('23')">
        <label for="23" style="background-color:lightgrey">23<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="19" (click)="Seat('19')">
        <label for="19" style="background-color:lightgrey">19<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="15" (click)="Seat('15')">
        <label for="15" style="background-color:lightgrey">15<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="11" (click)="Seat('11')">
        <label for="11" style="background-color:lightgrey">11<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="07" (click)="Seat('07')">
        <label for="07" style="background-color:lightgrey">07<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="03" (click)="Seat('03')">
        <label for="03" style="background-color:lightgrey">03<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
    </span>
    <span>
      <li>
        <input type="checkbox" id="39" (click)="Seat('39')">
        <label for="39" style="background-color:lightgrey">39<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="34" (click)="Seat('34')">
        <label for="34" style="background-color:lightgrey">34<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="30" (click)="Seat(30)">
        <label for="30" style="background-color:lightgrey">30<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="26" (click)="Seat('26')">
        <label for="26" style="background-color:lightgrey">26<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="22" (click)="Seat('22')">
        <label for="22" style="background-color:lightgrey">22<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="18" (click)="Seat('18')">
        <label for="18" style="background-color:lightgrey">18<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="14" (click)="Seat('14')">
        <label for="14" style="background-color:lightgrey">14<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="10" (click)="Seat('10')">
        <label for="10" style="background-color:lightgrey">10<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="06" (click)="Seat('06')">
        <label for="06" style="background-color:lightgrey">06<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
    </span>
    <span>
      <li>
        <input type="checkbox" id="38" (click)="Seat('38')">
        <label for="38" style="background-color:lightgrey">38<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
    </span>
    <span>
      <li>
        <input type="checkbox" id="37" (click)="Seat('37')">
        <label for="37" style="background-color:lightgrey">37<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="33" (click)="Seat('33')">
        <label for="33" style="background-color:lightgrey">33<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="29" (click)="Seat('29')">
        <label for="29" style="background-color:lightgrey">29<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="25" (click)="Seat('25')">
        <label for="25" style="background-color:lightgrey">25<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="21" (click)="Seat('21')">
        <label for="21" style="background-color:lightgrey">21<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="17" (click)="Seat('17')">
        <label for="17" style="background-color:lightgrey">17<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="13" (click)="Seat('13')">
        <label for="13" style="background-color:lightgrey">13<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="09" (click)="Seat('09')">
        <label for="09" style="background-color:lightgrey">09<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="05" (click)="Seat('05')">
        <label for="05" style="background-color:lightgrey">05<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="02" (click)="Seat('02')">
        <label for="02" style="background-color:lightgrey">02<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
    </span>
    <span>
      <li>
        <input type="checkbox" id="36" (click)="Seat('36')">
        <label for="36" style="background-color:lightgrey">36<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="32" (click)="Seat('32')">
        <label for="32" style="background-color:lightgrey">32<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="28" (click)="Seat('28')">
        <label for="28" style="background-color:lightgrey">28<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="24" (click)="Seat('24')">
        <label for="24" style="background-color:lightgrey">24<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="20" (click)="Seat('20')">
        <label for="20" style="background-color:lightgrey">20<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="16" (click)="Seat('16')">
        <label for="16" style="background-color:lightgrey">16<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="12" (click)="Seat('12')">
        <label for="12" style="background-color:lightgrey">12<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="08" (click)="Seat('08')">
        <label for="08" style="background-color:lightgrey">08<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="04" (click)="Seat('04')">
        <label for="04" style="background-color:lightgrey">04<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <input type="checkbox" id="01" (click)="Seat('01')">
        <label for="01" style="background-color:lightgrey">01<img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx7Uax2nCPULfib3Gi2AM7aEUcejoz4D4JG1HRz7mM34yzCLdMQ"></label>
      </li>
      <li>
        <label style="padding-top:0%;padding-left: 120%"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCEBN2uDQW7jhZb7M684ipUD5HBkiOqvzyxSn4uBTkaHOqwYyQ"></label>
      </li>
    </span>
    <div class="col-md-4 offset-md-4 card card-body">
      <div class="total  bg-default">
        <h5 class="text-center">Total Fare: {{total}}</h5>
      </div>
      <div>
        <button type="submit" class="btn btn-primary col-md-12 btn-outline btn-primary" (click)="confirmJourney()" routerLink="/getticket">Confirm</button>
      </div>
    </div>
  </div>
  
