body{
    background-image: url("https://image.shutterstock.com/image-photo/spring-blossom-background-beautiful-nature-260nw-1033292395.jpg");
    background-size: cover;
    background-repeat: repeat;
}