<!-- <div class="col-md-4 offset-md-4 card card-body mt-5">
    <h4 class="text-center">Please submit your feedback!!!</h4>
    <form [formGroup]="feebackForm" (ngSubmit)="printForm(feedbackForm)">

         <div class="form-group">
            <label for="suggestionId">SuggestionId</label>
            <input type="number" name="suggestionId" id="suggestionId" class="form-control">
        </div>
    
        <div class="form-group">
            <label for="userId">UserId</label>
            <input type="number" name="userId" id="userId" class="form-control">
        </div>
        <div class="form-group">
            <label for="feedback">Feeback</label>
            <input type="text" name="feedback" id="feedback" class="form-control">
        </div>
         <div class="btn-group col-md-12">
            <!-- <button type="submit" class="btn btn-primary" [disabled]="feebackForm.invalid">Login </button> -->
        <!-- </div> -->
    <!-- </form>
</div> --> -->
